@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,700&display=swap');
body {
    font-family: 'Open Sans', Arial, serif;
}
:root {
    --indent: clamp(0.75rem, -0.9063rem + 6.625vw, 4.0625rem);
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

img {
    pointer-events: none;
}

section {
    width: 100%;
}
.col-1440 {
    margin: 0 auto;
    max-width: 1440px;
}

.col-1920 {
    margin: 0 auto;
    max-width: 1920px;
}

body {
    background-color: #ffffff;
    color: #000;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--indent);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 2;
    backdrop-filter: blur(5px);
    background-color: #ffffffb3;
    border-bottom: 1px solid #eaeaea;
}

.header .logo {
    line-height: 0;
}
.header .logo img {
    max-height: 35px;
    height: 100%;
    width: auto;
    position: relative;
}

.header .nav li {
    display: inline-block;
    list-style: none;
}
.header .nav .nav-link a {
    width: 100%;
    padding: 4px 8px;
    margin: 0 5px;
    position: relative;
    color: #000;
}
.header .nav .nav-link a:hover {
    color: #4e2c8b;
}
.header .nav .nav-link a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    right: 50%;
    transform: translateX(50%);
    width: 0;
    height: 3px;
    background-color: #3f51b5;
    border-radius: 12px;
    transition: .2s;
}
.header .nav .nav-link a:hover::after {
    width: 75%;
}

.nav .special-button a button {
    padding: 0.5rem 1.8rem;
    background-color: #673ab7;
    border-radius: 50px;
    border: none;
    outline: unset;
    color: #ffecd1;
    font-size: 18px;
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
    cursor: pointer;
    transition: .2s;
}
.nav .special-button a button:hover {
    background-color: #7d4dd3;
}
.header .burger-menu {
    display: none;
    border: unset;
    background: unset;
    cursor: pointer;
    color: #441f85;
}
.header .burger-menu ion-icon {
    font-size: 30px;
}

/*adaptive burger*/
@media screen and (max-width: 850px) {
    .header .burger-menu {
        display: block;
    }
    .header .nav {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        position: absolute;
        top: -500px;
        z-index: 1;
        background-color: #29152ebf;
        width: 100%;
        left: 0;
        padding: 10px var(--indent);
        transition: .2s;
        box-sizing: border-box;
        /* box-shadow: #f6f6f6 0 2px 4px 0px; */
    }
    .header .nav.show {
        visibility: visible;
        opacity: 1;
        top: 60px;
    }
    .header .nav li {
        display: block;
    }
    .header .nav li a {
        display: inherit;
        width: 100%;
        margin: 0 !important;
        box-sizing: border-box;
    }
    .header .nav li a:hover {
        color: #664409;
    }
    .header .nav li:not(:last-child) {
        margin-bottom: 4px;
    }
    .header .nav .nav-link a::after {
        left: 0;
        right: unset;
        height: 100%;
        transform: unset;
        transition: .3s;
        background-color: #c5c1bc38;
        border-radius: 4px 12px 12px 4px;
    }
    .header .nav .nav-link a:hover::after {
        width: 100%;
    }

    .header .nav .special-button {
        text-align: center;
    }
}

/*end*/




#hero {
    position: relative;
    display: flex;
    gap: 15px;
    padding: 60px var(--indent);
    box-sizing: border-box;
    justify-content: space-between;
}

#hero .section--hero {
    max-width: clamp(25rem, 0rem + 50vw, 43.75rem);
}

.hero--title {
    font-size: clamp(2rem, 1.8125rem + 0.75vw, 2.375rem);
    color: #aa8ee1;
    line-height: 1.2;
}

.hero--description {
    font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
    line-height: 1.5;
    margin: 10px 0;
    color: #666666;
}

.hero--button {
    padding: 0.5rem 1.8rem;
    background-color: #673ab7;
    border-radius: 50px;
    border: none;
    outline: unset;
    color: #ffecd1;
    font-size: clamp(1.125rem, 1rem + 0.5vw, 1.375rem);
    font-weight: 700;
    text-transform: lowercase;
    font-variant: small-caps;
    cursor: pointer;
    transition: .2s;
}
.hero--button:hover {
    background-color: #7d4dd3;
}

#hero .gridbox {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    max-width: 760px;
}
#hero .gridbox .gridbox-item:first-child {
    grid-column: 1;
    grid-row: 2 span;
}
#hero .gridbox .gridbox-item:first-child img {
    object-position: left;
}
#hero .gridbox .gridbox-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

#about {
    box-sizing: border-box;
    padding: 25px var(--indent);
    display: flex;
    gap: 20px;
}

#about > div {
    flex: 1;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid #d3d3d3;
    padding: 25px 20px;
}

#about .left h3 {
    color: #7d4dd3;
}

#about h2 {
    font-size: clamp(2rem, 1.875rem + 0.5vw, 2.25rem);
    font-weight: 600;
    position: relative;
    margin-bottom: 10px;
    padding: 10px 0;
    line-height: 1;
}

.about--box {
    color: #5c5c5c;
    list-style: none;
}
.about--box li:not(:last-child) {
    margin-bottom: 15px;
}

#about .right {}
#about .right .banner {
    width: 100%;
    height: 350px;
    border-radius: 25px;
}
#about .right .buttons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



@media screen and (max-width: 600px){
    .features {
        grid-template-columns: 1fr !important;
    }
}
@media screen and (max-width: 900px) {
    #hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #features {
        flex-direction: column;
        align-items: center;
    }
    #features .content {
        text-align: center;
    }
    #about {
        flex-direction: column;
    }
    #about h3,
    #about h2 {
        text-align: center;
    }
}

.about--box-item {
    font-size: clamp(1rem, 0.8194rem + 0.7407vw, 1.375rem);
}



#features {
    box-sizing: border-box;
    padding: 25px var(--indent);
    display: flex;
    gap: 25px;
}

#features .content {
    max-width: 300px;
    padding: 14px 0;
}
.features--title {
    font-size: clamp(1.5rem, 1.3098rem + 1.087vw, 2.125rem);
    font-weight: 600;
    position: relative;
    padding: 10px 0;
    line-height: 1;
}

.features--description {
    font-size: clamp(0.875rem, 0.7989rem + 0.4348vw, 1.125rem);
    color: #696969;
}

.features {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    gap: 14px;
    margin: 20px 0;
}

.features .features-item {
    flex: 1;
    padding: 14px 10px;
    border-radius: 6px;
    transition: .2s ease-in;
}
.features .features-item:hover {
    background: #ede3ff;
}

.features-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(2.5rem, 2.3495rem + 0.6173vw, 2.8125rem);
    height: clamp(2.5rem, 2.3495rem + 0.6173vw, 2.8125rem);
    border-radius: 8px;
    background-color: #673ab73b;
    border: 1px solid #673ab7;
    color: #42227c;
    margin: 0 0 10px 10px;
}
.features-icon ion-icon {
    width: 75%;
    height: 75%;
}
.features .features-item .title {
    color: #673ab7;
    font-weight: 600;
    font-size: 20px;
}
.features .features-item p {
    margin-top: 6px;
    color: #373737;
    line-height: 1.4;
}


#testimonials {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
#testimonials h3 {
    font-size: clamp(1.0625rem, 0.9688rem + 0.375vw, 1.25rem);
    text-align: center;
    color: #673ab7;
}
#testimonials h2 {
    font-size: clamp(1.5rem, 1.3098rem + 1.087vw, 2.125rem);
    text-align: center;
}
#testimonials .btns {
    text-align: center;
}

.testimonials--slider {
    margin: 4px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-radius: 10px;
    gap: 20px;
    overflow: auto;
    padding: 6px 0;
    padding: var(--indent);
    box-sizing: border-box;
    user-select: none;
    list-style: none;
}
.testimonials--slider::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.testimonials--slider-item {
    min-height: 80px;
    cursor: pointer;
    transition: .1s ease-in;
    min-width: clamp(15.625rem, 10.4167rem + 16.6667vw, 25rem);
    padding: 14px 10px;
    border-radius: 6px;
    background: #f8f6ff;
}
.testimonials--slider-item .name {
    font-weight: 600;
    font-size: 22px;
}
.testimonials--slider-item .stars {
    margin: 6px 0;
}
.testimonials--slider-item .stars li {
    list-style: none;
    display: inline-block;
    color: #ffbf00;
}

.testimonials--button-scroll {
    border: unset;
    background: unset;
    font-size: 24px;
    color: #673ab7;
    cursor: pointer;
    transition: .14s;
}
.testimonials--button-scroll:hover {
    color: #7d4dd3;
}
.testimonials--button-scroll.disabled {
    color: gray;
}



footer {
    padding: 15px 0;
    width: 100%;
    background-color: #141414;
}

.footer--container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px var(--indent);
    box-sizing: border-box;
    gap: 20px;
}
.footer--wrap {
    display: inherit;
}
.footer-item .title {
    color: #703acf;
    font-weight: 600;
}
.footer-item ul {
    list-style: none;
}
.footer-item ul li {
    color: #fff;
    cursor: pointer;
    line-height: 1.5;
    position: relative;
    transition: .15s;
}
.footer-item ul li:hover {
    color: #7732ff;
}
.footer-item.nav ul li::after {
    content: '';
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 8%;
    left: 0;
    background-color: #7732ff;
    transition: .3s;
}
.footer-item.nav ul li:hover::after {
    width: 40%;
}

.footer-item ul li ion-icon {
    vertical-align: middle;
    color: #8676c1;
}
.footer-item.social ul li {
    color: #ab8ce7;
    font-size: 16px;
    transition: .15s;
}
.footer-item.social ul li ion-icon {
    color: #7732ff;
    font-size: 20px;
}
.footer-item.social ul li:hover {
    opacity: .7;
}


.footer-item.service p {
    max-width: 350px;
    width: 100%;
    color: #f1f1f1;
}
.footer-item.service a {
    font-weight: 600;
    font-size: 24px;
    color: #7f5cff;
}


.footer-powered {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    font-size: clamp(0.8125rem, 0.7375rem + 0.3vw, 1rem);
    color: #d5d5d5;
}
